@model Author

<div class="container-fluid">
    <h1 class="text-center"> Author Details</h1>
    <hr />
    <div class="col-6 offset-3">
        <label>Name:</label> <h3> @Model.Name</h3>
        <br />
        <label>Date Created:</label> <h3> @Model.DateCreated</h3>
        <br />
        <label>Date Updated:</label> <h3> @Model.DateUpdated</h3>
        <br />
        <a class="btn btn-warning" href="Authors/Edit?id=@Model.Id">Edit Author</a>
        <button class="btn btn-danger">Delete</button>

        <br />
        <hr />
       
            <table class="table table-responsive">
                <tr>
                    <th>Title</th>
                    <th>ISBN</th>
                    <th>Date Published</th>
                </tr>
            @{
            foreach (var book in Model.Books)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.ISBN</td>
                    <td>@book.DateCreated</td>
                </tr>
            }
            }

            </table>
        


    </div>
</div>